/** global **/
html, body {
	background-color: white;
	font: 14px "Open Sans", sans-serif;
}

a {
	text-transform: uppercase;
	text-decoration: none;
}

.h-padding {
	padding-left: 130px !important;
	padding-right: 130px !important;
}

.center {
	text-align: center;
}

h2.title {
	color: #222;
	font-size: 20px;
	text-transform: uppercase;
}

h3.title {
	color: #222;
	font-size: 28px;
	text-transform: uppercase;
}

h3.title:after {
	content: "";
	display: block;
	height: 2px;
	width: 300px;
	background-color: #222;
	margin: 15px 0 25px;
}

h3.title.center:after {
	margin: 15px auto 25px;
}

.subtitle {
	color: #888888;
	width: 50vw;
	font-weight: 300;
	line-height: 25px;
}

.subtitle.center {
	margin: 0 auto;
}

section {
	padding: 90px 130px 0;
}

section:nth-of-type(even) {
	background-color: #f5f5f5;
}

section:nth-of-type(odd) {
	background-color: #fff;
	padding-top: 90px;
	padding-right: 130px;
	padding-left: 130px;
	border-top: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
}

.start-slider, .blog-slider {
    display:none;
}

/** header */
/** navigation **/
header nav {
	height: 130px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header nav .menu-items a {
	padding: 0 15px;
	color: #CDCDCD;
	font-weight: bold;
}

header nav .menu-items a:not(.is-active):hover {
	color: #afafaf;
}

header nav .menu-items a.is-active {
	color: #333;
}

/** header leading **/
header .header-leading {
	padding: 180px 0;
	background: #333 url('../images/hero-tour.jpg') center center;
	background-size: cover;
	text-align: center;
	color: #fff;
}

header .header-leading.pricing {
    background: #333 url('../images/hero-pricing.jpg') center center;
}

header .header-leading h2 {
	text-transform: uppercase;
	font-size: 46px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

header .header-leading h2:before {
	content: "";
	display: block;
	height: 5px;
	width: 300px;
	background-color: #fff;
	margin: 20px auto;
}

header .header-leading p {
	margin: 10px 0 70px;
	font-family: initial;
	font-size: 16px;
	font-style: italic;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

header .header-leading .cta-buttons {
	text-align: center;
}

header .header-leading.pricing .cta-buttons{
    margin: 60px 0;
}

header .header-leading .cta-buttons .get-started {
	padding: 15px 30px;
	border-radius: 30px;
	background-color: #FEF08D;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 1px;
	color: #000;
}

header .header-leading.pricing .cta-buttons .get-started {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
}

header .header-leading .cta-buttons .watch-demo {
	padding: 15px 30px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #fff;
}

/** header press */
header .press {
	background-color: #F5F5F5;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

header .press p, header .press img {
	margin: 0 20px;
}

header .press p {
	color: #aaa;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}

header .press img {
	opacity: 0.3;
}

/*************************************************** PAGE TOUR ***************************************************/
/** start section */
.start .subtitle {
	margin-bottom: 50px;
}

.start .start-slider-container {
    width: calc(100% - 70px);
    height: auto;
    position: relative;
    padding: 40px 35px 80px;
}

.start-slider-container img.border {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.start .start-slider-container .slidesjs-previous {
    position: absolute;
    top: calc(50% - 22px);
    left: -50px;
    opacity: 0.5;
}

.start .start-slider-container .slidesjs-next {
    position: absolute;
    top: calc(50% - 22px);
    right: -50px;
    opacity: 0.5;
}

/** all in one section */
.all-in-one .subtitle {
	margin-bottom: 40px;
}

.all-in-one img {
	width: 100%;
	height: auto;
	position: relative;
	top: 4px;
}

/** layout engine */
.layout-engine {
	padding-bottom: 90px;
}

.layout-engine .subtitle {
	margin-bottom: 90px;
}

.layout-engine img {
	width: 100%;
	height: auto;
}

/** galleries section */
.galleries {
	padding-bottom: 90px;
}

.galleries .subtitle {
	margin-bottom: 50px;
}

.galleries img {
	width: 100%;
	height: auto;
}

/** blog section */
.blog {
    padding-bottom: 80px;
}

.blog .subtitle {
    margin-bottom: 40px;
}

.blog .blog-slider {
    width: 100%;
    height: auto;
}

.blog .blog-slider-container {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 57px;
}

.blog-slider-container img.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.blog-slider-container .slidesjs-previous {
    position: absolute;
    top: calc(50% - 22px);
    left: -50px;
    opacity: 0.5;
}

.blog-slider-container .slidesjs-next  {
    position: absolute;
    top: calc(50% - 22px);
    right: -50px;
    opacity: 0.5;
}

.blog-slider-description {
    color: #888888;
    font-style: italic;
    margin: 10px;
}

.blog-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.blog-feature-item {
    width: 30%;
}

.blog-feature-item h4 {
    color: #222;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0;
}

.blog-feature-item p {
    color: #888888;
    font-size: 14px;
    line-height: 25px;
}

.blog-feature-item .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 25px 0;
}

.blog-feature-item .icons img {
    margin-right: 10px;
    opacity: 0.8;
}

/** style editor */
.style-editor {
    padding-bottom: 140px;
}

.style-editor .subtitle {
    margin-bottom: 40px;
}

.style-editor img {
    width: 100%;
    height: auto;
}

/** mobile */
.mobile {
    display: flex;
    flex-direction: row;
}

.mobile .description {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile .description .content {
    width: 60%;
}

.mobile .description .title {
    font-size: 24px;
}

.mobile .description .title:after {
    width: 220px;
}

.mobile .image {
    width: 50%;
}

.mobile .description img {
    width: 30%;
    max-width: 150px;
}

.mobile .subtitle {
    margin-bottom: 30px;
    max-width: 90%;
}

.mobile .image img {
    width: 100%;
    height: auto;
}

/** Social */
.social .subtitle {
	margin-bottom: 20px;
}

.social-content {
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}

.social-content .image {
	width: 60%;
}

.social-content .image img {
	width: 100%;
	height: auto;
}

.social-content .features {
	width: 39%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-content .features .feature-item {
	width: 70%;
	margin-top: 20px;
}

.social-content .features .feature-item .title {
	color: #222;
	font-size: 20px;
	text-transform: uppercase;
}

.social-content .features .feature-item .subtitle {
	margin-bottom: 15px;
	width: 100%;
}

/** Comment */
.comment {
	padding-bottom: 80px;
	display: flex;
	justify-content: center;
}

.comment .image {
	width: 49%;
	border-right: 1px solid gray;
}

.comment .image img {
	width: 100%;
	height: auto;
}

.comment .informations {
	width: calc(49% - 10%);
  display: flex;
	flex-direction: column;
	padding: 5%;
}

.comment .informations .subtitle {
	width: 100%;
}

/** statistics */
.statistics {
    padding-bottom: 90px;
}

.statistics .subtitle {
    margin-bottom: 40px;
}

.statistics img {
    width: 100%;
    height: auto;
}

/** Search and contributors **/
.contributors {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 110px;
}

.contributors .contributors-item {
	width: 45%;
}

.contributors .contributors-item .title {
	font-size: 22px;
}

.contributors .contributors-item .title:after {
	width: 220px;
}

.contributors .contributors-item .subtitle {
	width: 100%;
}

.contributors .contributors-item .content {
	margin-top: 40px;
}

.contributors-item .badge {
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: #5DCA90;
	height: 70px;
	width: calc(100% - 15px);
	position: relative;
	left: 15px;
	margin-bottom: 10px;
}

.contributors-item .badge .photo {
	border-radius: 50%;
	box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
	height: 100px;
	width: 100px;
	z-index: 5;
	position: relative;
	right: 15px;
}

.contributors-item .badge .badge-informations {
	flex: 1;
}

.contributors-item .badge .badge-informations p {
	display: inline-block;
	color: #fff;
	padding-right: 10px;
	border-right: 1px solid white;
}

.contributors-item .badge .badge-informations img {
	padding-left: 10px;
	height: 12px;
}

.contributors-item .testimony {
	padding-left: 40px;
	font-style: italic;
	font-size: 14px;
	color: #888888;
}

.contributors-item .big-quote {
	font-size: 42px;
	position: relative;
	top: 35px;
	font-style: italic;
	color: #888888;
}

/** Cloud **/
.cloud {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 110px;
}

.cloud .cloud-item {
	width: 45%;
}

.cloud .cloud-item .title {
	font-size: 22px;
}

.cloud .cloud-item .title .free-badge {
	background: #5DCA90;
	text-transform: uppercase;
	padding: 6px;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	bottom: 4px;
	left: 20px;
}

.cloud .cloud-item .title:after {
	width: 220px;
}

.cloud .cloud-item .subtitle {
	width: 100%;
}

.cloud .cloud-item .content {
	margin-top: 40px;
}

.cloud .cloud-item img {
	width: 100%;
	height: auto;
}

/*************************************************** PAGE PRICING ***************************************************/
.pricing-container {
	display: flex;
	flex-direction: column;
	padding: 80px 150px 130px;
}

.pricing-container .pricing-boxes, .pricing-container .pricing-descriptions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pricing-container .pricing-descriptions {
	margin-top: 50px;
}

.pricing-container .pricing-item, .pricing-container .pricing-item-description {
	width: 45%;
}

.pricing-container .box {
	width: 100%;
	text-align: center;
	position: relative;
}

.pricing-container .box .most-popular-badge {
	position: absolute;
	top: -40px;
	right: -40px;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #5DCA90;
	border-radius: 50%;
	font-size: 12px;
}

.pricing-container .black-box {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #121212;
}

.pricing-container .black-box h3 {
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	letter-spacing: 2px;
}

.pricing-container .black-box .pricing-text {
	font-size: 15px;
	text-transform: uppercase;
	color: white;
}

.pricing-container .black-box .big-number {
	font-size: 70px;
	text-transform: uppercase;
	color: white;
}

.pricing-container .black-box .pricing-little-text {
	color: #404040;
}

.pricing-container .gray-box {
	background: #F7F7F7;
}

.pricing-container .gray-box li {
	color: #777878;
	border-bottom: 2px solid #EEEEEE;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pricing-container .gray-box li p {
	width: 60%;
	margin: 0 auto;
	text-align: left;
}

.pricing-container .gray-box li p.black {
	color: #000000;
	font-weight: bolder;
}

.pricing-container .gray-box li p .free-badge {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 12px;
	line-height: 40px;
	color: #ffffff;
	background-color: #5DCA90;
	border-radius: 50%;
	text-align: center;
	text-transform: uppercase;
	margin-left: 10px;
}

.pricing-container h3.title {
	color: #222;
	font-size: 18px;
	text-transform: uppercase;
}

h3.title:after {
	content: "";
	display: block;
	height: 2px;
	width: 300px;
	background-color: #222;
	margin: 15px 0 25px;
}

h3.title.center:after {
	margin: 15px auto 25px;
}

.pricing-container .description {
	padding-top: 30px;
}

.pricing-container .subtitle {
	max-width: 60%;
}

.padding .subtitle {
	margin-top: 20px;
	max-width: 55%;
}

span.green {
	color: #5DCA90;
}

/** Footer **/

footer {
	background-color: #181818;
	padding: 70px 130px 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer a {
	text-transform: none;
	color: #5E5E5E;
}

footer .footer-col {
	width: 22%;
}

footer h4 {
	color: #D5D5D5;
	font-size: 15px;
	text-transform: uppercase;
}

footer .try a {
	padding: 15px;
	border-radius: 30px;
	background-color: #E5E5E5;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 1px;
	color: black;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

footer .try p {
	color: #8A8A8A;
	font-size: 15px;
	line-height: 20px;
}

footer img {
	margin-top: 20px;
}

footer ul {
	margin-top: 20px;
}
